
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #eee;

}
.card{
    font-family: "candara",sans-serif;
    width: 340px;
    overflow: hidden;
    background: skyblue;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
height: 900px;
}
.card-image img{
    width: 150%;
    height: 350px;
    border-top-left-radius: 80px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.profile-image img{
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 10px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
}
.profile-image img:hover{
    transform: scale(1.1);
}
.card-content h3{
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.card-content p{
    font-size: 16px;
    text-align: justify;
    padding: 0 20px 5px 20px;
}
.icons a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0 14px;
    transition-duration: 0.4s;
    transition-property: transform;
}
.icons a:hover{
    color: #000;
    transform: scale(1.5);
}
h1{
   
    font-style: oblique;
    color: black;
    
}

